<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link th:href ="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel ="stylesheet"></link>
<script th:src ="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src ="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<link th:href="@{css/home.css}" rel = "stylesheet"/>
<title>Home</title>
</head>
<body>
	<!-- ======ヘッダー===== -->
	<nav class = "navbar navbar-inverse navbar-fixed-top">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href='#'>SpringSample</a>
			</div>
			<form method = "POST" th:action="@{/logout}">
				<button class="btn btn-link pull-right navbar-brand" type = "submit">ログアウト</button>
			</form>
		</div>
	</nav>

	<!-- =====サイドバー===== -->
	<div class = "container-fluid">
		<div class =" row">
			<div class = "col-sm-2 sidebar">
				<ul class = "nav nav-pils nav-stacked">
					<li role="presentation"><a th:href="@{'/userList'}">ユーザー管理リスt</a>
				</ul>
			</div>
		</div>
	</div>

	<!-- =====コンテンツ===== -->
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-sm-10 col-sm-pffset-2 main">
				<div th:include="_${contents}_"></div>
			</div>
		</div>
	</div>
</body>
</html>