<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" th:href="@{/css/password_home.css}">
<meta charset="UTF-8">

<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<title>Insert title here</title>
</head>
<body>


	<div class="header">
		<h1>パスワード管理画面へようこそ!</h1>
		<h2>ここではついつい日常的に忘れてしまいがちなパスワードを管理することができます</h2>
	</div>

	<div class="main">

		<div class="top">
			<h1>パスワードの確認</h1>
		</div>


		<form method="POST" action="/check" th:object="${checkForm}">
			<!-- メールアドレスの入力-->
			<label>メールアドレス:</label> <input type="text" th:field="*{userMail}" />
			<br>

			<button class="btn btn-primary" type="submit">ユーザー登録</button>
		</form>


		<!-- ===== コンテンツ ===== -->


				<div th:replace="__${contents}__">



			<!-- パスワードを追加する　:addPassword.html -->
			<div class="addPassword">
				<a th:href="@{/add}">管理するパスワードの追加</a>
			</div>
		</div>
	</div>
</body>
</html>