<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
    <link th:href = "@{/css/home.css}" rel = "stylesheet"  href = "C:\Users\merut\Desktop\study\WEB\src\main\resources\static\css\home.css"/>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<meta charset="UTF-8">
<title>WEBアプリケーション</title>
</head>
<body>
    <header>
        <h1>Hello</h1>
    </header>

    <!-- パスワードを確認する画面 -->
    <div class = "main">
        <div class = "pass">
            <a th:href = "@{/password}">パスワード管理画面</a>
        </div>

        <div class = "reversi">
            <img src = "/img/othello_game.png" >
            <img src = "C:\Users\merut\Pictures\Webページ作成\othello_game.png"/>
            <div class = "button_wapper">
            	<form action = "/reversi" method="GET">
            		<input type = "submit" value = "オセロゲームを開始する" class = "submit">
            	</form>
            </div>
        </div>

    </div>







</body>
