<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" th:href="@{css/reversi.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<form th:action="@{/HELLO}" method="POST" th:object="${tableForm}">

		<select name = "select" th:field = "*{num}">
	 		<option th:each="map : ${boardOption}"
	 		th:value="${map.value}"
	 		th:text="${map.key}"></option>
	 	</select>

	 	<input type="submit" value="この条件でゲームを開始する" />
	</form>
	<div th:include="__${contents}__"></div>
</body>
</html>