*{
    margin: 0px;
    padding: 0px;
}
/* ヘッダー */
header {   
    height: 100px;
    width: 100%;
    background-color: aquamarine  
}
header h1 {
   text-align: center;
   padding: 23px;
}
.main {
}

/* オセロゲーム */
.reversi {
  
    width:300px;   
  
}
.reversi img{
    margin: 0 auto;
    display: block;
}

.button_wapper {
    text-align: center;
}
.submit{
    text-align: left;
    border-radius: 20px;
    background-color:yellowgreen;
    size:20px;
    size:20px;  
    padding:5px 10px;
}

.submit:hover {
    background-color:greenyellow; 
}

