@charset "UTF-8";link {
}
title {
}
.header {
    background-color: black;
}
.header h1 {
    color:yellow;
    text-align: center;
}
.header h2 {
    color:white;
    text-align: center;
}
.main {
    text-align: center;
}
.top{
    margin:50px 0 ;
}
.top h1{
    text-align: center
}
.main table {
    text-align: center;
    border : 1px solid gray;
}
.main tbody {

}
.main th{
    padding-top: 10px;
}
.main tr {
}
.main td {
    padding:2px;

}
.main a {
}
.button{
    margin: 10px 0 ;
    border-radius: 5px;
}
.addPassword{
    color: black;
    height:30px;
    width:200px;
    background-color:skyblue;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px gray;
}